<div class="card-info primary">
  <div class="card-info-label">
    <div class="card-info-label-text">
      FYI
    </div>
  </div>
  <div class="card-info-content">
    <h3 class="lead">Thank You!</h3>
    <p>Thank you for taking the time to help our research team. Please begin by pressing the blue button below. You will rate each video once, and it will automatically move you on to the next video in a random sequence. Your progress is automatically saved and you can stop and continue at any point. All rated videos are listed and you can pick up with a random video using the blue button below. If you have any questions please let me know at c.miyake@centerforautism.com</p>
	<p>
		<strong>*Please note this site uses youtube to host it's videos so it will not work on CARD iPads.</strong>
	</p>
	<p>
		<strong>*There is no sound on the videos.</strong>
	</p>
  </div>
</div>


<div class="form-inputs grid-x grid-padding-x">
<div class="large-3 cell">
<% if @rated.present? %>
<%= link_to "Rate Your Next Video", @random, :class => "button small float-left" %>
<% else %>
<%= link_to "Get Started Rating", @random, :class => "button small float-left" %>
<% end %>
</div>
<div class="large-6 cell">
<ul class="stats-list">
  <li>
    <%= @videos.count %> <span class="stats-list-label">Total Videos</span>
  </li>
  <li class="stats-list-positive">
	<%= current_user.ratings.count %>  <span class="stats-list-label">Rated</span>
  </li>
  <li class="stats-list-negative">
    <%= "#{ @videos.count - current_user.ratings.count }" %> <span class="stats-list-label">Unrated</span>
  </li>
</ul>
</div>
<div class="large-3 cell">
</div>
</div>


<table class="table-expand hover unstriped">
  <thead>
    <tr>
	  <th>Video ID</th>		
	  <th>Status</th>		
	  <% if current_user.try(:admin?) or current_user.try(:team?) %>	 <th>Total Ratings</th> <% end %>	  
	  <% if current_user.try(:admin?) or current_user.try(:team?)  %>	 <th>Cue Ratings</th> <% end %>	  
	  <% if current_user.try(:admin?) or current_user.try(:team?)  %>	 <th>Level Ratings</th> <% end %>	  
	  <% if current_user.try(:admin?) %>	 <th>Admin</th> <% end %>	  	  
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
		  
		<td class ="maxw" data-label="Video ID"><%= link_to video.title, video_path(video)  %></td>
		<td data-label="Status">			
			<% if current_user.has_rating?(video) %> 
				<div class="circle rated"></div>
				<span class="success">RATED</span>
			<% else %>	 
				<div class="circle unrated"></div>
				<span class="success">NOT RATED</span>				
				<div id="unrated"></div>
			<% end %> 
		</td>
		
		<% if current_user.try(:admin?) or current_user.try(:team?)  %>		
		
		<td data-label="Admin"> 
		<%= pluralize video.ratings.count, "rating" %>		
		</td>

		<td data-label="Admin"> 

			<% video.ratings.all.group("cue").count.each do |key, value| %>
				<%= key %> : <%= value %> (<%= "#{(value.to_f / video.ratings.count * 100).truncate(2).to_f}%"%> of total ratings)<br />
			<% end %>
			
			
		</td>	
		<td data-label="Admin"> 
				
			<% video.ratings.all.group("level").count.each do |key, value|  %>
				Level <%= key %> : <%= value %> (<%= "#{(value.to_f / video.ratings.count * 100).truncate(2).to_f}%"%> of total ratings)<br />
			<% end %>		
			
		</td> 	
		
		<% end %>
		
		<% if current_user.try(:admin?) %>		
		
		<td data-label="Admin">
			<%= link_to 'Edit', edit_video_path(video) %> |
			<%= link_to 'Delete', video, method: :delete, data: {confirm: "Are you sure?"} %> 
		</td> 
								
		<% end %>
      
	  </tr>
    <% end %>
  </tbody>
</table>

<br>


