
<div class="callout panel">
Thank you for taking the time to help out our research team. Please begin with video 001 and rate the videos on two categories. You will rate each video once, and it will automatically move you on to the next video. If you need to go back to update a rating, you can do so by selecting the "back" button on the individual video page or by coming back to this page and selecting the video. Your progress is automatically saved and you can stop and continue at any point. All rated videos will be listed below as such and you can pick up with the next un-rated video in the sequence. If you have any questions please let me know at c.miyake@centerforautism.com
</div>


<%= link_to 'Add a Video', new_video_path, :class => "button small float-right" if current_user.try(:admin?)%>


<table class="table-expand hover unstriped">
   <ul class="menu" data-smooth-scroll>
     <li><a href="#unrated", class="button small float-left">Jump to your last rated video</a></li>
   </ul>
   <br />
  <thead>
    <tr>
	  <th>Video ID</th>		
	  <th>Status</th>		
	  <% if current_user.try(:admin?) %>	 <th>Total Ratings</th> <% end %>	  
	  <% if current_user.try(:admin?) %>	 <th>Cue Ratings</th> <% end %>	  
	  <% if current_user.try(:admin?) %>	 <th>Level Ratings</th> <% end %>	  
	  <% if current_user.try(:admin?) %>	 <th>Admin</th> <% end %>	  	  
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
		  
		<td class ="maxw" data-label="Video ID"><%= link_to video.title, video_path(video)  %></td>
		<td data-label="Status">			
			<% if current_user.has_rating?(video) %> 
				<div class="circle rated"></div>
				<span class="success">RATED</span>
			<% else %>	 
				<div class="circle unrated"></div>
				<span class="success">NOT RATED</span>				
				<div id="unrated"></div>
			<% end %> 
		</td>
		
		<% if current_user.try(:admin?) %>		
		
		<td data-label="Admin"> 
		<%= pluralize video.ratings.count, "rating" %>		
		</td>

		<td data-label="Admin"> 

			<% video.ratings.all.group("cue").count.each do |key, value| %>
				<%= key %> : <%= value %> (<%= "#{(value.to_f / video.ratings.count * 100).truncate(2).to_f}%"%> of total ratings)<br />
			<% end %>
			
			
		</td>	
		<td data-label="Admin"> 
				
			<% video.ratings.all.group("level").count.each do |key, value|  %>
				<%= key %> : <%= value %> (<%= "#{(value.to_f / video.ratings.count * 100).truncate(2).to_f}%"%> of total ratings)<br />
			<% end %>		
			
		</td> 	
		<td data-label="Admin">
			<%= link_to 'Edit', edit_video_path(video) %> |
			<%= link_to 'Delete', video, method: :delete, data: {confirm: "Are you sure?"} %> </td> 						
		<% end %>
      
	  </tr>
    <% end %>
  </tbody>
</table>

<br>


