<div class="form-inputs grid-x grid-padding-x">
<div class="small-6 cell pad">
	<div class="responsive-embed widescreen">
		<iframe src='https://www.youtube.com/embed/<%= @video.youtube_id %>?autoplay=1&mute=1&theme=dark&autohide=1&modestbranding=1&showinfo=0' frameborder='0' allowfullscreen></iframe>		
	</div>
		<div class="small-12 cell">
			<%= link_to 'Go Back', url_for(:back), :class => "button small float-left hollow"  %>

			<% if current_user.has_rating?(@video) %>
		  	<% if @video.next %>
		  	<%= link_to "Don't Save and go to Next Video", @video.next, :class => "button small float-right hollow" %>	  
		  	<% else %>
		  	<%= link_to "Back to Video List", videos_path, :class => "button small float-right hollow" %>	  
		  	<% end %>
			<% end %>						
			
	</div>

	<% if current_user.try(:admin?) %>	
	<div class="large-12 cell card-info primary">
	  <div class="card-info-content">
	    <h3 class="lead">Video Stats</h3>
		<p>Total Ratings: <%= @video.ratings.count %></p>
		<p>Cue Counts:<br />
			<% @vr.each do |v, r| %> 
			<%= v %> : <%= r %>
			(<%= "#{r.to_f / @video.ratings.count * 100}%"%> of total ratings)
			<br /> 
			<% end %>
		</p>
		<p>Level Counts:<br />
			<% @vc.each do |v, c| %> 
			<%= v %> : <%= c %>  
			(<%= "#{c.to_f / @video.ratings.count * 100}%"%> of total ratings)
			<br />
			<% end %>
		</p>
	  </div>
	</div>	
	<% end %>
	
</div>

<div class="large-6 cell">
<% if current_user.has_rating?(@video) %>
<div class="large-12 cell card-info warning">
<div class="card-info-content">
	<h3 class="lead">Your Current Rating</h3>
	Type of Cue: <%= @rated.cue %> <br />
	Level of Cue: <%= @rated.level %> 
</div>
</div>
	<%= render 'ratings/form', video: @video %>
<% else %>
	<%= render 'ratings/form', rating: @rating %>

<% end %>
</div>




