<div class="form-inputs grid-x grid-padding-x">

<div class="small-6 cell pad-25">
	<div class="responsive-embed widescreen">
		<iframe src='https://www.youtube.com/embed/<%= @video.youtube_id %>?autoplay=1&mute=1&theme=dark&autohide=1&modestbranding=1&showinfo=0' frameborder='0' allowfullscreen></iframe>		
	</div>
		<div class="small-12 cell">
			<%= link_to "Previous Video", @video.previous, :class => "button small float-left hollow" if @video.previous %>
			<% if current_user.has_rating?(@video) %>
		  	<% if @video.next %>
		  	<%= link_to "Don't Save and go to Next Video", @video.next, :class => "button small float-right hollow" %>	  
		  	<% else %>
		  	<%= link_to "Back to Video List", videos_path, :class => "button small float-right hollow" %>	  
		  	<% end %>
			<% end %>			
	</div>

	<% if current_user.try(:admin?) %>
	<h5 class="video">Video Stats (Admin View Only)</h5>	
	<div class="callout panel large-12 cell margin-top">
		<p>Total Ratings: <%= @video.ratings.count %></p>
		<p>Cue Counts:<br />
			<% @vr.each do |v, r| %> 
			<%= v %> : <%= r %>
			(<%= "#{r.to_f / @video.ratings.count * 100}%"%> of total ratings)
			<br /> 
			<% end %>
		</p>
		<p>Level Counts:<br />
			<% @vc.each do |v, c| %> 
			<%= v %> : <%= c %>  
			(<%= "#{c.to_f / @video.ratings.count * 100}%"%> of total ratings)
			<br />
			<% end %>
		</p>
	</div>	
	<% end %>
	
</div>

<div class="small-6 cell">
<% if current_user.has_rating?(@video) %>
	<h5 class="video">Your Current Rating</h5>
<div class="callout panel large-12 cell">
	Type of Cue: <%= @rated.cue %> <br />
	Level of Cue: <%= @rated.level %> 
</div>	
	<h5 class="video">Update Your Rating for video#: #<%= @video.title %>:</h5>

	<%= render 'ratings/form', video: @video %>
<% else %>
		<h5 class="video">Please Rate Video #<%= @video.title %>:</h5>

	<%= render 'ratings/form', rating: @rating %>

<% end %>
</div>




