<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>
  <% @client.errors.each do |attr, msg| %>
  <%= "#{attr} #{msg}" if @client.errors[attr].first == msg %> 
  <% end %>

  <div class="form-inputs">
	 <%= f.input :initials, maxlength: 2 %>
	 <p class="help-text" id="initials">For privacy reasons we only allow 2 characters.</p>	 
	 <%= f.input :timezone %>
	 <p class="help-text" id="timezone">PST, CST, EST, etc.</p>	 
	 <%= f.input :supervisor %>
	 <p class="help-text" id="supervisor">Whoever should be contacted regarding questions about client.</p>	 	 
	 <%= f.input :supervisor_email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "small float-right" %>
  </div>
<% end %>

