<%= simple_form_for(@rating) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	  <div class="large-12 cell card-info primary">
	  <div class="card-info-content">
		<h5 class="lead">Type of Cue:</h5>
		<%= f.input :cue, as: :radio_buttons, collection: Rating.cues, label_method: :first, value_method: :first, label: false %>
	  	 
	  </div>
	  </div>

	  <div class="large-12 cell card-info primary">
	  <div class="card-info-content">
		<h5 class="lead">Level of Cue:</h5>
      	 <ul class='likert'>		
		   <li>
		   <%= f.radio_button :level, 1 %>
		   <%= f.label(:level, "1 (subtle)") %>
		   </li>
		   <li>
		   <%= f.radio_button :level, 2 %>
		   <%= f.label(:level, "2") %>		  
		   </li>		   
		   <li>		   
		   <%= f.radio_button :level, 3 %>
		   <%= f.label(:level, "3 (normal)") %>
		   </li>		   
		   <li>		   
		   <%= f.radio_button :level, 4 %>
		   <%= f.label(:level, "4") %>		 
		   </li>		   
		   <li>		   
		   <%= f.radio_button :level, 5 %>
		   <%= f.label(:level, "5 (overt)") %>		   
		   </li>		   
		  </ul>
	   </div>	 
	   </div> 	 
		 
	 <%= f.hidden_field :video_id, :value => @video.id %>	
	 <%= f.hidden_field :user_id, :value => current_user.id %>	 	  
  </div>

  <div class="form-actions">
    <%= f.submit "Save Rating and Go To Next Video", :class => "button small float-right" %>
  </div>
<% end %>

