<div class="float-left">
		<%= select_tag 'therapist_id', options_from_collection_for_select(@therapists.sort, "id", "fullname"), :prompt=>"Filter By Therapist", :style => "min-width:300px" %>	
	<% if params[:therapist_id] %>
	<strong>Overlaps for:&nbsp;</strong><%= @therapist.fullname %>
	<br /><%= pluralize(@appointments.count, 'overlap') %>
  	<% if @therapist.appointments.empty? %>

  	<% else %>
  	with an average score of: <%= @therapist.overlap_average %>
  	<% end %>
	<% end %>
	<br />		
	<br />
</div>
<%= link_to 'Add an Overlap', new_appointment_path, :class => "button small float-right" %>


<table class="responsive-card-table">
  <thead>
    <tr>
	  <th>Overlap</th>
	  <th>Date</th>
	  <th>Client</th>	  
	  <th>Trainer</th>
	  <th>Score</th>
	  <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |overlap| %>
      <tr>
  		<td data-label="Overlap"><%= link_to overlap.therapist.fullname, appointment_path(overlap) %>&nbsp;<%= link_to "#{overlap.overlap_number(overlap.therapist, overlap).ordinalize} Overlap", appointment_path(overlap) %></td>		  
		<td data-label="Date"><%= overlap.created_at.strftime("%b %d, %Y") %></td>

		<td data-label="Trainer"><%= overlap.user.name %></td>
		<td data-label="Score"><%= overlap.score %></td>
		<td data-label="Edit Links"><%= link_to 'Edit Overlap Info', edit_appointment_path(overlap) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


	<script>
	    $(function(){
	      $('#therapist_id').bind('change', function () {
	         var url = "/appointments?therapist_id=" + $(this).val()
	          if (url) {
	              window.location.replace(url);
	          }
	          return false;
	      });
	    });
	</script>