
	  <div class="row expanded columns">
	  <strong>Therapist Name:</strong> <%= @appointment.therapist.fullname %> <br />
	  <strong>Trainer Name:</strong> <%= @appointment.user.name %><br />
	  This is <%= @appointment.therapist.first_name %>'s <%= @appointment.overlap_number(@appointment.therapist, @appointment).ordinalize %> Overlap on <%= @appointment.created_at.strftime("%b %d, %Y") %><br />
	  Overlap Score: <%= @appointment.score %> (max 15)<br />	  
	  <%= link_to "Edit this overlap", edit_appointment_path(@appointment) %>
      </div>
	  <hr >
	  <div class="row expanded columns">
	  <p><strong>General Notes:</strong>&nbsp;<%= simple_format(@appointment.general_notes) %></p>
	  </div>	  
	  <div class="row expanded columns">
	  <p><strong>Administrative Notes:</strong>&nbsp;<%= @appointment.administrative_notes %></p>
	  </div>
	  <div class="row expanded columns">
	  <p class="callout">
		  <strong>
		  Administrative Score:
		  <% if @appointment.administrative_score.nil? %>	  
		  Not evaluated. 
		  <% else %>		  
		  <%= @appointment.administrative_score %> 
		  <% end %>
		  </strong>
	  </p>
	  </div>
	  <div class="row expanded columns">
	  <p><strong>Behavior Management Notes:</strong>&nbsp;<%= simple_format(@appointment.behavior_management_notes) %></p>
	  </div>
	  <div class="row expanded columns">
	  <p class="callout">
		  <strong>Behavior Management Score:
		  <% if @appointment.behavior_management_score.nil? %>	  
		  Not evaluated. 
		  <% else %>		  
		  <%= @appointment.behavior_management_score %> 
		  <% end %>
	      </strong>
	  </p>
	  </div>
	  <div class="row expanded columns">
	  <p><strong>Language Promotion Notes:</strong>&nbsp;<%= simple_format(@appointment.language_promotion_notes) %></p>
	  </div>
	  <div class="row expanded columns">
	  <p class="callout">
		  <strong>
		  Language Promotion Score:
		  <% if @appointment.language_promotion_score.nil? %>	  
		  Not evaluated. 
		  <% else %>		  
		  <%= @appointment.language_promotion_score %> 
		  <% end %>
		  </strong>
	  </p>
	  </div>
	  <div class="row expanded columns">
	  <p><strong>Structured Lesson Notes:</strong>&nbsp;<%= simple_format(@appointment.structured_lesson_notes) %></p>
	  </div>
	  <div class="row expanded columns">
	  <p class="callout">
		  <strong>
		  Structured Lesson Score:
		  <% if @appointment.structured_lesson_score.nil? %>	  
		  Not evaluated. 
		  <% else %>		  
		  <%= @appointment.structured_lesson_score %> 
		  <% end %>
		  </strong>
	  </p>
	  </div>
	  <div class="row expanded columns">
	  <p><strong>Natural Environment Notes:</strong>&nbsp;<%= simple_format(@appointment.natural_environment_notes) %></p>
	  </div>
	  <div class="row expanded columns">
	  <p class="callout"><strong>Natural Environment Score:</strong>		  		  		  		  
		  <% if @appointment.natural_environment_score.nil? %>	  
		  Not evaluated. 
		  <% else %>		  
		  <%= @appointment.natural_environment_score %> 
		  <% end %>
	  </p>
	  </div>

	  





 
<%= link_to 'Back', appointments_path, :class => "button small float-right" %>
