  <div class="form-inputs grid-x grid-padding-x">

	  <div class="small-12 cell">		  	  
	  <strong>Therapist Name:</strong> <%= @appointment.therapist.fullname %> <br />
	  <strong>Trainer Name:</strong> <%= @appointment.user.name %><br />
	  <strong>Client Name:</strong> <% if @appointment.client %><%= @appointment.client.initials %><% end %><br />	  
	  This is <%= @appointment.therapist.first_name %>'s <%= @appointment.overlap_number(@appointment.therapist, @appointment).ordinalize %> Overlap on <%= @appointment.created_at.strftime("%b %d, %Y") %><br />
	  <%= link_to "Edit this overlap", edit_appointment_path(@appointment) %>
      </div>
	  

	  
	  <div class="small-12 cell margin-top">		  	  
	  <p><strong>General Notes:</strong>&nbsp;
		  <% if @appointment.general_notes? %>		  		  
		  <%= simple_format(@appointment.general_notes) %>
		  <% else %>
		  No notes entered
		  <% end %>
	  </p>
	  </div>	  
	  <div class="small-12 cell">		  	  
	  <p><strong>Administrative Notes:</strong>&nbsp;
		  <% if @appointment.administrative_notes? %>		  
		  <%= simple_format(@appointment.administrative_notes) %>
		  <% else %>
		  No notes entered
		  <% end %>
	  </p>
	  </div>

	   <% @group_by_section.each do |section, apptskill| %>
		  <div class="small-12 cell margin-top">		  	  
		 <h5><%= section %>  </h5>
		  </div>
		 <% apptskill.each do |a| %>
	     <div class="small-6 cell">
		<%= a.skill.description %> 	  	  		
	 	  <span class="float-right"><strong><%= a.rating %></strong></span>
		  </div>
		  <% end %>
	   <% end %>



	  <div class="small-12 cell margin-top">		  	  
	  <p><strong>Behavior Management Notes:</strong>&nbsp;
		  <% if @appointment.behavior_management_notes? %>
		  <%= simple_format(@appointment.behavior_management_notes) %>
		  <% else %>
		  No notes entered
		  <% end %>
	  </p>
	  </div>
	  
	  <div class="small-12 cell">		  	  
	  <p><strong>Language Promotion Notes:</strong>&nbsp;
		  <% if @appointment.language_promotion_notes? %>		  
		  <%= simple_format(@appointment.language_promotion_notes) %>
		  <% else %>
		  No notes entered
		  <% end %>
	  </p>
	  </div>
	 
	  <div class="small-12 cell">		  	  
	  <p><strong>Structured Lesson Notes:</strong>&nbsp;
		  <% if @appointment.structured_lesson_notes? %>		  
		  <%= simple_format(@appointment.structured_lesson_notes) %>
		  <% else %>
		  No notes entered
		  <% end %>
	  </p>
	  </div>
	 
	  <div class="small-12 cell">		  	  
	  <p><strong>Natural Environment Notes:</strong>&nbsp;
		  <% if @appointment.natural_environment_notes? %>		  
		  <%= simple_format(@appointment.natural_environment_notes) %>
		  <% else %>
		  No notes entered
		  <% end %>
	  </p>
	  </div>
	

	  




 
<%= link_to 'Back', appointments_path, :class => "button small float-right" %>
</div>